<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- Primary Meta Tags -->
   <title>Periodic Table - HTML & CSS</title>
   <meta name="title" content="Periodic Table - HTML & CSS">
   <meta name="description" content="A responsive periodic table built with html and css by Victor Eke">

   <!-- Open Graph / Facebook -->
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://periodic-table-ui.netlify.app/">
   <meta property="og:title" content="Periodic Table - HTML & CSS">
   <meta property="og:description" content="A responsive periodic table built with html and css by Victor Eke">
   <meta property="og:image" content="https://user-images.githubusercontent.com/62628408/125967400-d7679ed5-6567-4861-b342-cdf413b5804e.png">

   <!-- Twitter -->
   <meta property="twitter:card" content="summary_large_image">
   <meta property="twitter:url" content="https://periodic-table-ui.netlify.app/">
   <meta property="twitter:title" content="Periodic Table - HTML & CSS">
   <meta property="twitter:description" content="A responsive periodic table built with html and css by Victor Eke">
   <meta property="twitter:image" content="https://user-images.githubusercontent.com/62628408/125967400-d7679ed5-6567-4861-b342-cdf413b5804e.png">

   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
   <link rel="manifest" href="favicon/site.webmanifest">

   <link rel="stylesheet" href="C:\Users\student\Desktop\periodic\style.css">
   <link rel="stylesheet" href="C:\Users\student\Desktop\periodic\colors.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
   <main> 
   
      <div class="table-heading">Periodic Table of Elements</div>
      <div class="container">
         <div class="box box-1 non-metals">
            <h2 class="number">1</h2>
            <h3 class="symbol">H</h3>
            <h4 class="element">Hydrogen</h4>
            <p class="group">Metal</p>
         </div>
          
         <div class="box box-2 noble-gas">
            <h2 class="number">2</h2>
            <h3 class="symbol">He</h3>
            <h4 class="element">Helium</h4>
            <p class="group">Noble Gas</p>
         </div>

         <div class="box box-3 alkali-metal">
            <h2 class="number">3</h2>
            <h3 class="symbol">Li</h3>
            <h4 class="element">Lithium</h4>
            <p class="group">Alkali Metal</p>
         </div>

         <div class="box box-4 alkaline-earth">
            <h2 class="number">4</h2>
            <h3 class="symbol">Be</h3>
            <h4 class="element">Beryllium</h4>
            <p class="group">Alkaline Earth</p>
         </div>

         <div class="box box-5 metalloid">
            <h2 class="number">5</h2>
            <h3 class="symbol">B</h3>
            <h4 class="element">Boron</h4>
            <p class="group">Metalloid</p>
         </div>

         <div class="box box-6 non-metals">
            <h2 class="number">6</h2>
            <h3 class="symbol">C</h3>
            <h4 class="element">Carbon</h4>
            <p class="group">Non Metal</p>
         </div>

         <div class="box box-7 non-metals">
            <h2 class="number">7</h2>
            <h3 class="symbol">N</h3>
            <h4 class="element">Nitrogen</h4>
            <p class="group">Non Metal</p>
         </div>

         <div class="box box-8 non-metals">
            <h2 class="number">8</h2>
            <h3 class="symbol">O</h3>
            <h4 class="element">Oxygen</h4>
            <p class="group">Non Metal</p>
         </div>

         <div class="box box-9 halogen">
            <h2 class="number">9</h2>
            <h3 class="symbol">F</h3>
            <h4 class="element">Fluorine</h4>
            <p class="group">Halogen</p>
         </div>
         <div class="box box-10 noble-gas">
            <h2 class="number">10</h2>
            <h3 class="symbol">Ne</h3>
            <h4 class="element">Neon</h4>
            <p class="group">Noble Gas</p>
         </div>

         <div class="box box-11 alkali-metal">
            <h2 class="number">11</h2>
            <h3 class="symbol">Na</h3>
            <h4 class="element">Sodium</h4>
            <p class="group">Alkali Metal</p>
         </div>

         <div class="box box-12 alkaline-earth">
            <h2 class="number">12</h2>
            <h3 class="symbol">Mg</h3>
            <h4 class="element">Magnesium</h4>
            <p class="group">Alkaline Earth</p>
         </div>

         <div class="box box-13 post-transition-metals">
            <h2 class="number">13</h2>
            <h3 class="symbol">Al</h3>
            <h4 class="element">Aluminium</h4>
            <p class="group">Post Transition Metal</p>
         </div>

         <div class="box box-14 metalloid">
            <h2 class="number">14</h2>
            <h3 class="symbol">Si</h3>
            <h4 class="element">Silicon</h4>
            <p class="group">Metalloid</p>
         </div>

         <div class="box box-15 non-metals">
            <h2 class="number">15</h2>
            <h3 class="symbol">P</h3>
            <h4 class="element">Phosporus</h4>
            <p class="group">Non metal</p>
         </div>

         <div class="box box-16 non-metals">
            <h2 class="number">16</h2>
            <h3 class="symbol">S</h3>
            <h4 class="element">Sulfur</h4>
            <p class="group">Non Metal</p>
         </div>

         <div class="box box-17 halogen">
            <h2 class="number">17</h2>
            <h3 class="symbol">Cl</h3>
            <h4 class="element">Chlorine</h4>
            <p class="group">Halogen</p>
         </div>

         <div class="box box-18 noble-gas">
            <h2 class="number">18</h2>
            <h3 class="symbol">Ar</h3>
            <h4 class="element">Argon</h4>
            <p class="group">Noble Gas</p>
         </div>
         <div class="box box-19 alkali-metal">
            <h2 class="number">19</h2>
            <h3 class="symbol">K</h3>
            <h4 class="element">Potassium</h4>
            <p class="group">Alkali Metal</p>
         </div>

         <div class="box box-20 alkaline-earth">
            <h2 class="number">20</h2>
            <h3 class="symbol">Ca</h3>
            <h4 class="element">Calcium</h4>
            <p class="group">Alkaline Metal</p>
         </div>

         <div class="box box-21 transition-metals">
            <h2 class="number">21</h2>
            <h3 class="symbol">Sc</h3>
            <h4 class="element">Scandium</h4>
            <p class="group">Transition Metals</p>
         </div>

         <div class="box box-22 transition-metals">
            <h2 class="number">22</h2>
            <h3 class="symbol">Ti</h3>
            <h4 class="element">Titanium</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-23 transition-metals">
            <h2 class="number">23</h2>
            <h3 class="symbol">V</h3>
            <h4 class="element">Vanadium</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-24 transition-metals">
            <h2 class="number">24</h2>
            <h3 class="symbol">Cr</h3>
            <h4 class="element">Chromium</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-25 transition-metals">
            <h2 class="number">25</h2>
            <h3 class="symbol">Mn</h3>
            <h4 class="element">Manganese</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-26 transition-metals">
            <h2 class="number">26</h2>
            <h3 class="symbol">Fe</h3>
            <h4 class="element">Iron</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-27 transition-metals">
            <h2 class="number">27</h2>
            <h3 class="symbol">Co</h3>
            <h4 class="element">Cobalt</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-28 transition-metals">
            <h2 class="number">28</h2>
            <h3 class="symbol">Ni</h3>
            <h4 class="element">Nickel</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-29 transition-metals">
            <h2 class="number">29</h2>
            <h3 class="symbol">Cu</h3>
            <h4 class="element">Copper</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-30 transition-metals">
            <h2 class="number">30</h2>
            <h3 class="symbol">Zn</h3>
            <h4 class="element">Zinc</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-31 post-transition-metals">
            <h2 class="number">31</h2>
            <h3 class="symbol">Ga</h3>
            <h4 class="element">Gallium</h4>
            <p class="group">Post-Transition Metal</p>
         </div>

         <div class="box box-32 metalloid">
            <h2 class="number">32</h2>
            <h3 class="symbol">Ge</h3>
            <h4 class="element">Germanium</h4>
            <p class="group">Metalloid</p>
         </div>

         <div class="box box-33 metalloid">
            <h2 class="number">33</h2>
            <h3 class="symbol">As</h3>
            <h4 class="element">Arsenic</h4>
            <p class="group">Metalloid</p>
         </div>

         <div class="box box-34 non-metals">
            <h2 class="number">34</h2>
            <h3 class="symbol">Se</h3>
            <h4 class="element">Selenium</h4>
            <p class="group">Non Metal</p>
         </div>

         <div class="box box-35 halogen">
            <h2 class="number">35</h2>
            <h3 class="symbol">Br</h3>
            <h4 class="element">Bromine</h4>
            <p class="group">Halogen</p>
         </div>

         <div class="box box-36 noble-gas">
            <h2 class="number">36</h2>
            <h3 class="symbol">Kr</h3>
            <h4 class="element">Krypton</h4>
            <p class="group">Noble Gas</p>
         </div>

         <div class="box box-37 alkali-metal">
            <h2 class="number">37</h2>
            <h3 class="symbol">Rb</h3>
            <h4 class="element">Rubidium</h4>
            <p class="group">Alkali Metal</p>
         </div>

         <div class="box box-38 alkaline-earth">
            <h2 class="number">38</h2>
            <h3 class="symbol">Sr</h3>
            <h4 class="element">Strontium</h4>
            <p class="group">Alkaline Earth</p>
         </div>

         <div class="box box-39 transition-metals">
            <h2 class="number">39</h2>
            <h3 class="symbol">Y</h3>
            <h4 class="element">Yttrium</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-40 transition-metals">
            <h2 class="number">40</h2>
            <h3 class="symbol">Zr</h3>
            <h4 class="element">Zirconnium</h4>
            <p class="group">Transition Metal</p>
         </div>

         <div class="box box-41 transition-metals">
            <h2 class="number">41</h2>
            <h3 class="symbol">Nb</h3